<div class="{{ block.type|lower }}">

  <h2>{{ block.header }}</h2>
  <h3>{{ block.subheader }}</h3>
  <p>{{ block.body }}</p>

  <hr>

  <h3>How it works</h3>
  <ul>
    {# Loop through the 'How it works' table #}
    {% for row in block.howItWorks %}
      <li>{{ row.iconClass }} | {{ row.text }}</li>
    {% endfor %}
  </ul>

</div>
