{# NOTE: I added some hacky styles to display the integrations in 3 columns, please remove :) #}

<div class="{{ block.type|lower }}" style="clear: both;
    display: table;">

  <h2>{{ block.header }}</h2>
  <h3>{{ block.subheader }}</h3>

  <hr>

  {# Loop through the 'Integrations' table #}
  {% for row in block.integrations %}
    <div style="float: left; width: 33%">
      <h4>{{ row.title }}</h4>
      <p>{{ row.description }}</p>
      <a href="{{ row.url }}">Read more</a>
    </div>
  {% endfor %}

</div>
