<div class="{{ block.type|lower }}">

  <h2>{{ block.header }}</h2>
  <h3>{{ block.subheader }}</h3>
  <p>{{ block.body }}</p>

  <hr>

  <h3>{{ block.signupHeader }}</h3>
  <!-- Signup form goes here -->
  <p>Signup form goes here</p>

</div>
