<!DOCTYPE html>
<html>
  <head>
    <title>{{ siteName }}</title>
    {% do view.registerCssFile("/css/style.css") %}
  </head>
  <body>

    {% block main %}
      {# All templates should extend this base template by over-riding this block #}
    {% endblock %}

    {% block footer %}
      <h4>Beam</h4>
      {# Content from 'Footer' global #}
      <p>{{ footer.footerColumn1 }}</p>

      <h4>Sections</h4>
      <ul>
        <li>Connecting</li>
        <li>How it works</li>
        <li>Integrations</li>
      </ul>

      <hr>
      {# Content from 'Footer' global. Replace {year} with current year #}
      <small>{{ footer.smallprint|replace('{year}',"now"|date('Y')) }}</small>
    {% endblock %}

  </body>
</html>
