{% extends 'base.twig' %}

{% block main %}

<!-- Navigation -->
Navigation goes here
<hr>

<!-- Hero -->
<h1>{{ entry.header }}</h1>
<h2>{{ entry.subheader }}</h2>
<p>{{ entry.body }}</p>

<hr>

<!-- Content Blocks -->
{# Loop through 'Content Blocks' matrix field #}
{% for block in entry.contentBlocks.all() %}
  <!-- Block {{ block.type }} -->
  {% include '_blocks/' ~ block.type %}
  <hr>
{% endfor %}
<!-- / End of content blocks -->

{% endblock main %}
